@font-face {
    font-family: 'calculator-font';
    src: url('./font/Technology.ttf');
}
html, body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(159, 223, 201);
    justify-content: center;
    align-items: center;
}
.calcBody {
    display: flex;
    background-color: gray;
    display: flex;
    height: 50vh;
    aspect-ratio: 5/6;
    border-radius: 20px;
    border: 3px solid black;
    padding: 6px;
}
.calcHeader {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    padding: 6px;
    gap: 6px
}
.resultBox {
    display: flex;
    box-sizing: border-box;
    border: 5px black solid;
    background-color: white;
    flex-direction: column;
    border-radius: 6px;
    flex:0 1 31%;
}
.resultBox div {
    border-radius: 12px;
    display: flex;
    flex: 1;
    padding: 6px;
}
#numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vh;
    font-family: 'calculator-font';
}
#result {
    flex: .3;
    align-self: flex-end;
    padding-right: 20px;
    font-size: 2.5vh;
    font-family: 'calculator-font';
}
.calcNumbers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex:1 1 100%;
    gap:6px;
}
.calcNumbers div {
    display: flex;
    flex:1;
    width:100%;
    gap:6px;
}
.calcNumbers div button{
    flex:1;
    border-radius: 12px;
    border: solid black 2px;
}
#c {
    flex-grow: .36;
}
.operators {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    padding: 6px;
}
.opButtons {
    display: flex;
    flex-direction: column;
    flex:1;
    gap:6px;
}
.opButtons button {
    flex:1;
    border-radius: 12px;
    border: solid black 2px;
    
}
#spacer{
    flex-grow:.337;
}